#include "anywhy_flake.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

/* Disable the physical matrix inherited from anywhy_flake.dtsi */
&kscan0 {
    status = "disabled";
};
